<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Sustainability Prediction Model</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>Sustainability Prediction Model</h1>

        <form action="/predict" method="POST">

            <input type="number"
                   step="any"
                   name="sp"
                   placeholder="SP (%)"
                   required>

            <input type="number"
                   step="any"
                   name="strength"
                   placeholder="Strength (MPa)"
                   required>

            <input type="number"
                   step="any"
                   name="co2"
                   placeholder="CO2 (kg/m³)"
                   required>

            <input type="number"
                   step="any"
                   name="durability"
                   placeholder="Durability"
                   required>

            <button type="submit">
                Predict Sustainability
            </button>

        </form>

        {% if prediction_text %}

            <h2>{{ prediction_text }}</h2>

            <h3>Category: {{ category }}</h3>

        {% endif %}

    </div>

</body>
</html>
