<!DOCTYPE html>
<html>

<head>

    <title>Carbon Footprint Prediction</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>Carbon Footprint Prediction Model</h1>

    <form action="/predict" method="POST">

        <input type="number"
               step="any"
               name="cement"
               placeholder="Cement (kg/m³)"
               required>

        <input type="number"
               step="any"
               name="water"
               placeholder="Water (kg/m³)"
               required>

        <input type="number"
               step="any"
               name="fa"
               placeholder="Fly Ash (kg/m³)"
               required>

        <input type="number"
               step="any"
               name="ggbfs"
               placeholder="GGBFS (kg/m³)"
               required>

        <input type="number"
               step="any"
               name="sf"
               placeholder="Silica Fume (kg/m³)"
               required>

        <input type="number"
               step="any"
               name="sp"
               placeholder="SP (%)"
               required>

        <input type="number"
               step="any"
               name="ca"
               placeholder="Coarse Aggregate (kg/m³)"
               required>

        <button type="submit">
            Predict Carbon Footprint
        </button>

    </form>

    {% if prediction_text %}

        <h2>{{ prediction_text }}</h2>

        <h3>{{ category }}</h3>

    {% endif %}

</div>

</body>
</html>
